.toggle-container {
  width: 40px;
  height: 20px;
  box-shadow: inset 4px 4px 6px #cecece;
}

.toggle {
  left: 0;
  width: 20px;
  height: 20px;
  transform: scale(.7);
  transition: all ease-out .3s;
}

.toggle.active {
  left: 18px;
}

.div-top{
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .div-top{
    flex-direction: column;
  }
}