#wrapper {
  background-image: url('./assets/logo-naranja.jpeg');
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}